services:
  - type: web
    name: e-secretary-backend
    env: node
    region: ohio
    plan: free
    buildCommand: npm install
    startCommand: npm start
    branch: main
    rootDir: backend
    envVars:
      - key: NODE_ENV
        value: production
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_KEY
        sync: false
      - key: GOOGLE_CLIENT_ID
        sync: false
      - key: GOOGLE_CLIENT_SECRET
        sync: false
      - key: GOOGLE_REDIRECT_URI
        sync: false
      - key: SESSION_SECRET
        generateValue: true
      - key: FIREFLIES_API_KEY
        sync: false
